html{
  font-family: 'Droid Sans';
}
.hero{
  .phone{
    margin: 44px 54px 51px 202px;
  }
  .logo{
    margin:157px 192px 0 36px;
  }
  .left-to-right{
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-style: solid;
    -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from($color-orange), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, $color-orange, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, $color-orange, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, $color-orange, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, $color-orange, rgba(0, 0, 0, 0)) 1 100%;
    }
}

.btn-cheese{
  color: #FFF;
  background: transparent none repeat scroll 0% 0%;
  border: 1px solid #FFF;
  margin: 0px 0px 40px 180px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  border-radius: 6px;
  &:hover{
    color: $color-orange;
    background: #fff none repeat scroll 0% 0%;
    border-color: #FFF;
    box-shadow: none;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
  }
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
    vertical-align: middle;
}
