footer#subscribe
  .container.mail-subscribe
    .columns
      .one-half.column.centered
        h2.title Get info on new updates
        form
          input.input-large.mail

        a.btn.btn-cheese.center Subscribe
