section#vantagens
  .container.vantagens
    .colunms.container-vantagens
      .one-third.column.box
        img(src="img/ic_doc.png").icon
        h2.title Keep Track of your money
        p.description
          See all your debts and all your friends debts toweards you.
      .one-third.column.box
        img(src="img/ic_reminder.png").icon
        h2.title  Generate reminders
        p.description Get reminded of who owes you money or who you owe money to.
      .one-third.column.box
        img(src="img/ic_safe.png").icon
        h2.title No internet needed
        p.description  All your debts are kept safe in your phone.
