doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  Title The Cheese Guardian
  meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0")
  link(rel="stylesheet", href="css/style.css")

body

  include _partials/_header.jade

  include _partials/_hero.jade

  include _partials/_vantagens.jade

  include _partials/_subscribe.jade

  script(src="js/main.js")
